*.swp
*.bck
*.o
*.tmp
psyc-testcompile-*
.c_headers
config.mk
bin/*
!bin/README
lib/*
!lib/README
tmp/*
src/test/main_tests
src/test/benchmark
src/debug/profile
.DS_Store
src/demo/cifar-10-batches-bin/
resources/cifar-10-batches-bin/
resources/testzlib
src/magick_conf.h
src/buildinfo.h
src/all.h
Makefile.dep
.make-*
